$mobile: 761px;
body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: $background;
}

.header {
    text-align: center;
    padding: $spacing-xl 0;
}

.team {
    display: none;
    position: fixed;
    top: 0;
    @media (min-width: $mobile) {
        display: block;
    }
}

.players {
    margin-top: $spacing-sm;
}

.left {
    text-align: right;
    padding-right: $spacing-md;
    position: relative;
    @media (min-width: $mobile) {
        padding-right: $spacing-xl;
    }
    .team {
        right: -15%;
        @media (min-width: $mobile) {
            right: -15%;
        }
    }
}

.right {
    text-align: left;
    padding-left: $spacing-md;
    position: relative;
    @media (min-width: $mobile) {
        padding-left: $spacing-xl;
    }
    .team {
        left: -15%;
        @media (min-width: $mobile) {
            right: -15%;
        }
    }
} 

.divider {
    height: 1px;
    width: 3rem;
    background-color: $gray;
    display: inline-block;
    margin-bottom: $spacing-sm;
}

.photo {
    border-radius: 50%;
    border: solid 2px $white;
    height: 100px;
    width: 100px;
    margin-bottom: $spacing-lg;
    display: inline-block;
}

.card {
    margin-bottom: $spacing-sm;
}

.team-image {
  max-width: 40%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=05)";
  filter: alpha(opacity=05);
  -moz-opacity: 0.05;
  -khtml-opacity: 0.05;
  opacity: 0.05;
}