body {
/*  background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover; gone while i cant fix it */
    background-color: $background;
}

section:after {
    clear:both;
}

.main {
    padding-bottom: $spacing-lg;
}

.header {
    text-align: center;
    padding: $spacing-xl 0;
}

.team {
    display: none;
    position: fixed;
    top: 0;
    z-index: -1;
    @media (min-width: $screen-sm-min) {
        display: block;
    }
    img {
        width: 60%;
        opacity: 0.05;
        animation: pulsing 10s infinite;
    }
}

.players {
    margin-top: $spacing-sm;
}

.left {
    text-align: right;
    padding-right: $spacing-md;
    position: relative;
    @media (min-width: $screen-sm-min) {
        padding-right: $spacing-xl;
    }
    .team {
        left: -40%;
        @media (min-width: $screen-sm-min) {
            left: -40%;
        }
    }
}

.right {
    text-align: left;
    padding-left: $spacing-md;
    position: relative;
    @media (min-width: $screen-sm-min) {
        padding-left: $spacing-xl;
    }
    .team {
        right: -40%;
        @media (min-width: $screen-sm-min) {
            right: -40%;
        }
    }
}

.divider {
    height: 1px;
    width: 3rem;
    background-color: $gray;
    display: inline-block;
    margin-bottom: $spacing-sm;
}

.photo {
    border-radius: 50%;
    border: solid 2px $white;
    height: 100px;
    width: 100px;
    margin-bottom: $spacing-md;
    display: inline-block;
}

.card {
    margin-bottom: $spacing-sm;
}

.footer {
    text-align: center;
    color: $gray-light;
    font-size: 1rem;
    padding: $spacing-md 0;
    a {
        color: $yellow;
    }
    .divider {
        display: block;
        margin: $spacing-md auto;
    }
}

.disclaimer {
    color: $gray;
    font-size: .85rem;
    margin-top: 5px;
}

// Loader
.loader {
    height: 100vh;
    width: 100vw;
    background: $background;
    position: fixed;
    z-index: 1000;
}

.spinner {
    margin: 400px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $yellow;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    background-color: $green;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes pulsing {
    0%,
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
        -webkit-transform: translateX(20px);
    }
}