@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900);
//
//Type variables
$typeface: 'Roboto';
$base-size: 15px;
$weight-normal: 400;
//
$title-size: 1rem;
$title-color: $gray;
$title-weight: $weight-normal;
//
$number-size-xs: 1.75rem;
$number-size: 2rem;
$number-color: $white;
$number-weight: $weight-normal;
//
//Type declarations
//
html,
html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

html,
body {
    font-size: $base-size;
    font-family: $typeface;
}

.title {
    @include font($title-size, $title-color, $title-weight);
    text-transform: lowercase;
}

.number,
.name {
    @include font($number-size-xs, $number-color, $number-weight);
    @media (min-width: $screen-sm-min) {
        font-size: $number-size;
    }
}

.first-name {
    @media (min-width: $screen-sm-min) {
        display: inline;
    }
}

.winner {
    color: $green;
}

.draw {
    color: $yellow;
}